<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.luckydog.mybatistest.mapper.UserMapper">

    <select id="getUserList" resultType="info.luckydog.mybatistest.entity.User">
        select * from user
    </select>

</mapper>